.background {
  position: fixed;     /* supaya memenuhi layar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/gambar-1.jpg') no-repeat center/cover;
  filter: blur(8px);
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1; /* biar di atas background blur */
}

#baru {
  background-color: black;
  height: 100%;
  border-radius: 15px;
  margin-top: 5%;
  padding: 20px;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0.5;
}
